* {
  // margin: 0;
  // padding: 0;
  // text-decoration: none;
  // list-style-type: none;
  box-sizing: border-box;

  //layout troubleshooting check
  // outline: 1px solid #f00 !important;
}

:root {
  font-family: 'Helvetica';
}

.pointer {
  cursor: pointer;
}
