@use '../utils' as u;

#times {
  font-size: 1rem;
  margin: 1em;
  padding: .5em 1em;
  border-radius: u.$radius;
  color: u.$secondary;
}

.btn--wrapper {
  margin-block: auto;
}

#button {
  border: none;
  font-size: 1rem;
  padding: 1em 2em;
  border-radius: u.$radius;
  background-color: #fff;
  box-shadow: 0 0 5px gray;
  cursor: pointer;
  
  &:hover {
    background-color: #222;
    color: #fff;
  }

}